version: '3.1'

services:

  backend:
    build: .docker/php
    container_name: app
    ports: 
      - "8000:80"
    volumes: 
      - ./Backend:/var/www/html
    networks:
      - app  

  frontend:
    build: ./Fronted
    container_name: vue
    ports: 
      - "8080:8080"
    volumes: 
      - ./Frontend:/app
    networks:
      - app  

  db:
    build: .docker/mysql
    container_name: db
    restart: always
    volumes:
      - "./.docker/dbdata:/var/lib/mysql"
    environment: 
      MYSQL_ROOT_PASSWORD: A_1234567
      MYSQL_DATABASE: laravel_db01
    networks:
      - app

  phpmyadmin: 
    image: phpmyadmin
    container_name: myadmin
    restart: always
    ports:
      - 8088:80
    networks:
      - app

networks:
  app:
    driver: bridge